bcolz==1.2.1
caffe==0.1.0
ConfigSpace==1.2.1
Cython==3.0.12
docutils==0.21.2
easydict==1.13
faiss_cpu==1.8.0.post1
fastai==2.8.1
filterpy==1.4.5
fs==2.4.16
ftfy==6.3.1
fvcore==0.1.5.post20221221
gdown==5.2.0
GitPython==3.1.43
GitPython==3.1.44
h5py==3.13.0
hyperopt==0.2.7
imageio==2.37.0
ipdb==0.13.13
lap==0.5.12
lmdb==1.6.2
loguru==0.7.2
mat4py==0.6.0
matplotlib==3.7.5
mxnet==1.9.1
numpy==1.22.3
onnx==1.17.0
onnx2tf==1.27.2
onnxoptimizer==0.3.13
onnxruntime==1.21.1
onnxsim==0.4.36
opencv_python==4.10.0.84
openvino==2025.1.0
pandas==1.4.2
Pillow==9.3.0
Pillow==11.2.1
pillow_heif==0.22.0
protobuf==4.25.3
pycocotools==2.0.8
pycuda==2025.1
pytest==8.3.5
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.44.1
recommonmark==0.7.1
regex==2024.11.6
Requests==2.32.3
rfconv==0.0.2b20210406
scikit_learn==1.1.1
scipy==1.8.1
setuptools==75.1.0
skimage==0.0
Sphinx==8.2.3
sphinx_rtd_theme==3.0.2
super_gradients==3.7.1
tabulate==0.9.0
tensorflow==2.19.0
tensorrt==10.9.0.34
termcolor==3.0.1
torch==1.8.1
torch_cluster==1.5.9
torch_geometric==2.0.1
torchvision==0.9.1
tqdm==4.67.0
ultralytics==8.3.111
yacs==0.1.8
